body{
    background-color: white;
    color: #2f28d9;
    text-align: center;
    font-family: "noka", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
}

p{
   
    color: #fb8c5c;
    font-size: 1rem;
    text-align: left;
    line-height: 1.7;
    padding-left: 11rem;
    padding-right: 11rem;
}