body{
    background-color: white;
    color: #ffa37b;
    text-align: center;
    font-family: "noka", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
}