body{
    background-color:#dee1f1;
    color:  #548ccc;
  font-family: "noka", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
}



favicon.png{
  text-align:left;
}