#events {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .event {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  .event h2 {
    margin-top: 0;
    color: rgb(234, 214, 214);
  }
  .event-year-2017 {
    background-color: #ffc107;
  }
  .event-year-2018 {
    background-color: #2196f3;
    color: #fff;
  }
  .event-year-2019 {
    background-color: #673ab7;
    color: #fff;
  }
  .event-year-2020 {
    background-color: #ff5722;
    color: #fff;
  }
  .event-year-2021 {
    background-color: #4caf50;
    color: #fff;
  }






  body{
    font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.5rem;
}

button{
    height: 100px;
     width: 200px;
     background-color: rgb(244, 186, 186);
     box-shadow: #9acd32;
     font-family: "menca", sans-serif;
     font-size: 1rem;
     text-align: center;
     cursor: pointer;
       
   }

   .btn1{
    background-color: #ffc107;
   }
   .btn2{
    background-color: #2196f3;
   }
   .btn3{
    background-color: #673ab7;
   }
   .btn4{
    background-color: #ff5722;
   }.btn5{
    background-color: #4caf50;
   }